/* .kool{
    background-image: url("https://ai4sees.com/static/media/img-products.11a93678.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height:500px;
    margin: 0;
    padding-top: 50%;
    position:z-index;
} */